<% title "Users Hall of Fame" %>

<table>
  <tr>
    <th>User</th>
    <th>Score</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%=to_html(user) %></td>
      <td><font color='blue' ><%=h user.score %></font></td>
      <td><%#= link_to "Show", user %></td>
      <td><%#= link_to "Edit", edit_user_path(user) %></td>
      <td><%#= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New user", new_user_path %></p>
